.gradle/1.9/taskArtifacts/cache.properties
.gradle/1.9/taskArtifacts/cache.properties.lock
.gradle/1.9/taskArtifacts/fileHashes.bin
.gradle/1.9/taskArtifacts/fileSnapshots.bin
.gradle/1.9/taskArtifacts/outputFileStates.bin
.gradle/1.9/taskArtifacts/taskArtifacts.bin
.idea/workspace.xml
application/.gradle/1.9/taskArtifacts/cache.properties
application/.gradle/1.9/taskArtifacts/cache.properties.lock
application/.gradle/1.9/taskArtifacts/fileHashes.bin
application/.gradle/1.9/taskArtifacts/fileSnapshots.bin
application/.gradle/1.9/taskArtifacts/outputFileStates.bin
application/.gradle/1.9/taskArtifacts/taskArtifacts.bin
out/production/FXML-LoginDemo/demo/CoarseGrid.png
out/production/FXML-LoginDemo/demo/Login.css
out/production/FXML-LoginDemo/demo/Login.fxml
out/production/FXML-LoginDemo/demo/LoginController.class
out/production/FXML-LoginDemo/demo/LoginLogo.png
out/production/FXML-LoginDemo/demo/Main.class
out/production/FXML-LoginDemo/demo/Profile.fxml
out/production/FXML-LoginDemo/demo/ProfileController.class
out/production/FXML-LoginDemo/demo/model/User.class
out/production/FXML-LoginDemo/demo/security/Authenticator.class
out/production/SwingInterop/swinginterop/SampleTableModel.class
out/production/SwingInterop/swinginterop/SwingInterop$1.class
out/production/SwingInterop/swinginterop/SwingInterop$2.class
out/production/SwingInterop/swinginterop/SwingInterop$3$1.class
out/production/SwingInterop/swinginterop/SwingInterop$3.class
out/production/SwingInterop/swinginterop/SwingInterop$4.class
out/production/SwingInterop/swinginterop/SwingInterop$5.class
out/production/SwingInterop/swinginterop/SwingInterop$6.class
out/production/SwingInterop/swinginterop/SwingInterop$DecimalFormatRenderer.class
out/production/SwingInterop/swinginterop/SwingInterop.class
out/production/application/application/Main.class
out/production/application/application/uw/cse/mag/appliancereader/ControllerPane.fxml
out/production/application/application/uw/cse/mag/appliancereader/Controls.fxml
out/production/application/application/uw/cse/mag/appliancereader/Main.fxml
out/production/application/application/uw/cse/mag/appliancereader/MainView$ImageUploadException.class
out/production/application/application/uw/cse/mag/appliancereader/MainView$MainViewListener.class
out/production/application/application/uw/cse/mag/appliancereader/MainView.class
out/production/application/application/uw/cse/mag/appliancereader/Template.fxml
out/production/application/application/uw/cse/mag/appliancereader/ui/associate/AssociateImageDrawer.class
out/production/application/application/uw/cse/mag/appliancereader/ui/associate/FeatureDrawer.class
out/production/application/application/uw/cse/mag/appliancereader/ui/perspectivewarp/PerspectiveWarp.class
out/production/application/application/uw/cse/mag/appliancereader/util/FXMLPaneLoader.class
out/production/application/application/uw/cse/mag/appliancereader/views/CompleteParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/CompleteParametersView.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/FeatureDetectorsView$OnFeatureDetectorChangedListener.class
out/production/application/application/uw/cse/mag/appliancereader/views/FeatureDetectorsView.class
out/production/application/application/uw/cse/mag/appliancereader/views/FeatureDetectorsView.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/ResultView.class
out/production/application/application/uw/cse/mag/appliancereader/views/ResultView.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/BooleanInput.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/BooleanInputView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/BooleanInputView$OnValueChangedListener.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/BooleanInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/DoubleInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/FloatInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/Input.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/InputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/IntegerInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/LongInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/NumberInputView$InputListener.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/NumberInputView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/TextInput.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/AverageIntegralView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/AverageIntegralView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/AverageIntegralView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/AverageIntegralView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/AverageIntegralView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ConfigView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ConfigView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ConfigView.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$5.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$6.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView$7.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastHessianView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/FastSurfParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParameterView.fxml
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView$5.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/ParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView$5.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDescriberView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDetectorView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDetectorView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDetectorView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDetectorView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftDetectorView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftOrientationView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftOrientationView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftOrientationView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftOrientationView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftScaleSpaceView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftScaleSpaceView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftScaleSpaceView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftScaleSpaceView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SiftScaleSpaceView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView$5.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SlidingIntegralView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/StableSurfParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorSpeedView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorSpeedView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorStabilityView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorStabilityView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorStabilityView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/features/SurfDescriptorStabilityView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView$1.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView$2.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView$3.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView$4.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView$5.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/HomographyParametersView.class
out/production/application/application/uw/cse/mag/appliancereader/views/input/params/homography/ParametersView.fxml
out/production/application/setup.png
out/production/application/shortcut.png
out/production/application/volume.png
out/production/brickbreaker/brickbreaker/Ball.class
out/production/brickbreaker/brickbreaker/Bat.class
out/production/brickbreaker/brickbreaker/Bonus.class
out/production/brickbreaker/brickbreaker/Brick.class
out/production/brickbreaker/brickbreaker/Config.class
out/production/brickbreaker/brickbreaker/Level$1.class
out/production/brickbreaker/brickbreaker/Level$2.class
out/production/brickbreaker/brickbreaker/Level$3.class
out/production/brickbreaker/brickbreaker/Level$4.class
out/production/brickbreaker/brickbreaker/Level$5.class
out/production/brickbreaker/brickbreaker/Level$6.class
out/production/brickbreaker/brickbreaker/Level$7.class
out/production/brickbreaker/brickbreaker/Level$8.class
out/production/brickbreaker/brickbreaker/Level.class
out/production/brickbreaker/brickbreaker/LevelData.class
out/production/brickbreaker/brickbreaker/Main$1.class
out/production/brickbreaker/brickbreaker/Main$MainFrame.class
out/production/brickbreaker/brickbreaker/Main.class
out/production/brickbreaker/brickbreaker/Splash$1.class
out/production/brickbreaker/brickbreaker/Splash$2.class
out/production/brickbreaker/brickbreaker/Splash$3.class
out/production/brickbreaker/brickbreaker/Splash.class
out/production/brickbreaker/brickbreaker/Utils.class
out/production/brickbreaker/brickbreaker/images/desktop/background.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball0.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball1.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball2.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball3.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball4.png
out/production/brickbreaker/brickbreaker/images/desktop/ball/ball5.png
out/production/brickbreaker/brickbreaker/images/desktop/bat/center.png
out/production/brickbreaker/brickbreaker/images/desktop/bat/left.png
out/production/brickbreaker/brickbreaker/images/desktop/bat/right.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/ballfast.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/ballgrow.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/ballreduce.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/ballslow.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/batgrow.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/batreduce.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/catch.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/extralife.png
out/production/brickbreaker/brickbreaker/images/desktop/bonus/strike.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/blue.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/broken1.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/broken2.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/brown.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/cyan.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/green.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/grey.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/magenta.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/orange.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/red.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/violet.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/white.png
out/production/brickbreaker/brickbreaker/images/desktop/brick/yellow.png
out/production/brickbreaker/brickbreaker/images/desktop/gameover.png
out/production/brickbreaker/brickbreaker/images/desktop/logo.png
out/production/brickbreaker/brickbreaker/images/desktop/ready.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/breaker.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/breakershadow.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/brick.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/brickshadow.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/pressanykey.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/pressanykeyshadow.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/strike.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/strikeshadow.png
out/production/brickbreaker/brickbreaker/images/desktop/splash/sun.png
out/production/brickbreaker/brickbreaker/images/desktop/vline.png
out/production/brickbreaker/setup.png
out/production/brickbreaker/shortcut-32.png
out/production/brickbreaker/shortcut-32@2x.png
out/production/brickbreaker/volume.png
out/production/javafx/sample/Controller.class
out/production/javafx/sample/Main.class
out/production/javafx/sample/sample.fxml
out/production/library/uw/cse/mag/appliancereader/lib/cv/DetectionResultArgument.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/HomographyCalculator$OnHomographyChangedListener.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/HomographyCalculator.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/ImagePointAssociator$UpdateListener.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/ImagePointAssociator.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/archive/AssociatePoints.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/archive/Homography.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/BaseController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/ConfigException.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/ConfigurationType.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/FeatureDetectionParams$1.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/FeatureDetectionParams.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/OnConfigurationChangedListener.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/OnFeatureDetectionParamsChangedListener.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/core/Scorer.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/homography/ErrorMetric$1.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/homography/ErrorMetric.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/homography/HomographyParams$OnHomographyParametersChangedListener.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/homography/HomographyParams.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/sift/DescribeController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/sift/DetectorController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/sift/OrientationController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/sift/ScaleSpaceController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/sift/SiftParams.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/AverageIntegralController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/FastHessianController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/FastSurfParams.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/SlidingIntegralController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/StableSurfParams.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/SurfDescriptorSpeedController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/SurfDescriptorStabilityController.class
out/production/library/uw/cse/mag/appliancereader/lib/cv/params/surf/SurfParams.class
out/production/library/uw/cse/mag/appliancereader/lib/data/Appliance.class
out/production/library/uw/cse/mag/appliancereader/lib/data/ApplianceType.class
out/production/library/uw/cse/mag/appliancereader/lib/data/Boundary.class
out/production/library/uw/cse/mag/appliancereader/lib/data/Display.class
out/production/library/uw/cse/mag/appliancereader/lib/data/DisplayFeature.class
out/production/library/uw/cse/mag/appliancereader/lib/data/DisplayFeatureState.class
out/production/library/uw/cse/mag/appliancereader/lib/data/ImageSource.class
out/production/library/uw/cse/mag/appliancereader/lib/data/RectangularBoundary.class
out/production/library/uw/cse/mag/appliancereader/lib/storage/ApplianceDirectory.class
out/production/library/uw/cse/mag/appliancereader/lib/storage/ApplianceDirectoryFactory.class
out/production/library/uw/cse/mag/appliancereader/lib/storage/FileDirectoryManager.class
out/production/library/uw/cse/mag/appliancereader/lib/ui/AssociateImageDrawer.class
out/production/library/uw/cse/mag/appliancereader/lib/ui/FeatureDrawer.class
out/production/library/uw/cse/mag/appliancereader/lib/ui/ImageOps.class
out/production/library/uw/cse/mag/appliancereader/lib/ui/PerspectiveWarp.class
out/test/library/uw/cse/mag/appliancereader/lib/data/ApplianceTest.class
